@font-face {
  font-family: "Site";
  src: url("./ressources/font/Fraset-Display.ttf");
}
:root {
  --rouge: rgb(123, 0, 0);
  --jaune: rgb(255, 157, 0);
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Site";
  word-spacing: 0.2vw;
  height: 100%;
  user-select: none;
  background-image: url("./ressources/img/fond.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
}

main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  transition: all 1s;
}
.titre {
  background-color: bisque;
  border-radius: 0.5vw;
  padding: 0.5vw;
  box-shadow: 0px 0px 2px black inset;
  filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
  margin-bottom: 4vw;
}
.titreanimation {
}
#blockchat {
  width: 20vw;
  height: 70vh;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 15%;
  left: 2%;
  display: flex;
  border-radius: 1vw;
  transform: translate(-50% -50%);
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 5px var(--jaune));
  z-index: 2;
}
#chat {
  width: 90%;
  height: 80%;

  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: 2;
  top: 0;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  display: flex;
  word-wrap: break-word;
  overflow-y: scroll;

  overflow-x: hidden;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}
::-webkit-scrollbar {
  background: #000000;
  opacity: 0;
  width: 0.8vw;
}
::-webkit-scrollbar-thumb {
  background: rgb(104, 104, 104);

  cursor: url("/img/mouse2.png"), pointer;
}
::-webkit-scrollbar-thumb:hover {

}
#chat p {
  display: flex;
  flex-direction: column;
  color: rgb(232, 232, 232);
  width: 100%;
  height: 100%;
  white-space: break-spaces;
  margin: 1vw;
  z-index: 2;
  font-size: 1vw;
  line-height: 3.5vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#pseudochat {
  margin-bottom: 1vw;
  margin-top: 1vw;
  font-size: 1.5vw;
  color: var(--jaune);
  font-family: "Site";
}
#pseudochat::after {
  content: " :";
}
#inputchat {
  position: absolute;
  bottom: 3vh;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 0.2vw;
  background-color: rgb(44, 44, 44);
  color: var(--jaune);
  padding: 1vh;
  font-family: "Site";
  display: flex;
  font-size: 1vw;
}

#blockcard {
  border-radius: 15px;
  -webkit-transition: all 0.5s ease-in;
  box-shadow: 3px 0px 10px black;
  position: relative;
  background-color: black;
  transition: all 0.5s ease-in-out;
  display: flex;
  margin: 0;
  padding: 0px;
  will-change: transform;
}

#lightcard {
  position: absolute;
  width: 100%;
  height: 100%;

  mix-blend-mode: soft-light;
  border-radius: 15px;
}
#lightcard:hover {
  background: radial-gradient(farthest-corner circle at var(--lightpositionX) var(--lightpositionY), rgb(0, 255, 242) 10%, transparent 90%);
}
#blockcard:hover {
  rotate: y 15deg;

  /*   transform: rotateY(var(--x)); */

  box-shadow: 15px 2px 10px black;
}
#card {
  padding: 0;
  margin: 0;
  width: 22vw;
  border-radius: 15px;
}
#textcard {
  position: absolute;
  color: rgb(255, 255, 255);

  font-style: bold;
  background-color: rgb(0, 0, 0);
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;

  padding: 2px;
  margin: 0;
  z-index: 4;
}
#textcard:hover {
}

#titrehome {
  color: bisque;
  word-spacing: 0.4vw;
  margin-left: 1vw;
  font-size: 3vw;

  text-shadow: 2px 2px 0.5vw rgb(0, 0, 0);
}
#titrehome img {
  text-shadow: 0px 0px 10px red;
  width: 15vw;
  filter: invert() drop-shadow(0px 0px 2px rgb(255, 153, 0));
  border-radius: 5px;
  margin-left: -5.5vw;
  margin-right: 5vw;
}
#blockrubis {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 0.5vw;
  left: 85%;
}
#rubiscount {
  color: rgb(255, 255, 255);
  font-size: 0.8vw;
}
#rubislogo {
  width: 2vw;
  filter: drop-shadow(0px 0px 5px red);
}

ul {
  background-color: rgb(125, 125, 125);
  position: fixed;

  list-style: none;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  z-index: 6;
  flex: 0 1 auto;
  justify-content: start;
  column-gap: 5vw;
  font-size: 120%;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;

  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(45, 45, 45) 10%,

    rgb(108, 108, 108) 90%,

    rgb(119, 119, 119) 100%
  );
  margin: auto;
}

li {
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.9s;
  color: rgb(0, 0, 0);
  font-size: 1.5vw;
}
li:hover {
  color: var(--jaune);
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#compteicon {
  position: absolute;
  left: 91%;
  cursor: pointer;
  width: 2.2vw;
  margin-left: 3vw;
}
form {
  position: fixed;
  top: 28vw;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: fit-content;
  padding: 1.5vw;
  background-color: rgba(0, 0, 0, 0.951);
  z-index: 6;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  row-gap: 2.5vh;
  overflow: hidden;
  color: white;
  display: none;
}
form button {
  margin-top: 1vw;
  background-color: black;
  color: white;
  border-radius: 0.5vw;
  padding: 0.5vw;
  width: fit-content;
  text-align: center;
  font-size: 1.5vw;
  box-sizing: border-box;
  display: flex;
  font-family: "Site";
}
input:invalid {
  background-color: rgb(82, 82, 82);
}
#inputname,
#inputpass {
  height: 1%;
  width: 50%;
  font-size: 2vw;
  padding: 0.5vw;
  outline: none;
  background-color: rgb(87, 87, 87);
  color: white;
}
#fermerform {
  position: absolute;
  top: 0;
  left: 90%;
  cursor: pointer;
  font-size: 2vw;
}
label {
  font-size: 2vw;
  margin: 1vw;
}
#inputname:focus,
#inputpass:focus {
  outline: none;
}
.perror {
  color: red;
  position: absolute;
  font-size: 1vw;
  bottom: 0;
}
#blockpass {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#spanpass {
  position: absolute;
  right: 3vw;
  font-size: 2vw;
  cursor: pointer;
}
#enregistrementform {
  display: none;
}
#connexionform {
}
#connexionform:hover {
  cursor: pointer;
}
#senregistrer {
  padding-bottom: 2vw;
}
#senregistrer:hover {
  cursor: pointer;
}
.blockarticles {
  display: flex;
  width: 70vw;
  margin-top: 1vw;
  margin-bottom: 5vw;
  background-color: rgba(71, 71, 71, 0.811);

  display: flex;
  flex-direction: column;
  padding: 2vw 5vw 2vw 5vw;
  overflow: hidden;
  border-radius: 15px;

  text-align: auto;
  justify-content: center;
  align-items: center;
}
.imagearticles {
  width: 30vw;
  height: 16vw;
  margin-top: 2vw;
  border-top-right-radius: 5vw 5vw;
  border-bottom-left-radius: 5vw 5vw;
  box-shadow: 0px 0px 10px black;
  object-fit: cover;
  padding: 0;
}
.textearticles {
  margin-top: 6vw;
  font-size: 2vw;
  font-family: "Times New Roman", Times, serif;
  white-space: pre-wrap;
}

footer {
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8vw;
  height: 5vw;
  margin-top: 5vw;
}
#chatlogo {
  filter: drop-shadow(0px 0px 5px var(--jaune));
  position: fixed;
  z-index: 8;
  bottom: 4%;
  left: 2%;
  cursor: pointer;
}

img {
  width: 3vw;
  padding: 5px;
}

p {
  font-size: 1.2em;
}
